.lessee{
    flex: 1;
    padding-left: 10px;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    .menu::-webkit-scrollbar{width:0}
    .menu{
        height:100%;
        overflow-x: hidden;
        overflow-y:auto;
    }
    .lessee-table{
        flex: 1;
        .state{
            flex: 1;
        }
    }
}